
services:
  # The Unified API Service (registration + execution)
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: python_automation_api
    restart: always
    networks:
      - shared_net
    ports:
      - "${API_PORT}:8000"
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock # Allows the API to run docker commands
      - /tmp:/tmp
    env_file:
      - .env
    environment:
      # If the DB is on the SAME server but NOT in Docker: 
      # Use the host's private IP (e.g., 172.17.0.1 or your server's LAN IP)
      - DB_HOST=${DB_HOST} 
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - EXECUTE_API_KEY=your_secret_key_here
      - SANDBOX_IMAGE_NAME=python-execution-sandbox-v1
    depends_on:
      db:
        condition: service_healthy


networks:
  shared_net:
    external: true
    name: my_shared_network

volumes:
  postgres_data: